# Getting data from YahooFinance

[pandas_datareader](https://pandas-datareader.readthedocs.io/en/latest/) used to be the go-to package for getting historical price data for listed equities. In the past few years, the package has been poorly maintained, resulting in a number of ad-hoc fixed to keep its functionality afloat.


[yfinance](https://pypi.org/project/yfinance/) appears to be winning the race, and I would recommend using this library instead.

I offer you two examples below so you can make your own decision.

In [8]:
import pandas
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

## Using `pandas_datareader`

In [9]:
df = pdr.get_data_yahoo("AAPL", start='1980-12-11', end='2022-02-01')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12 00:00:00-05:00,0.128348,0.128906,0.128348,0.128348,0.099874,469033600
1980-12-15 00:00:00-05:00,0.122210,0.122210,0.121652,0.121652,0.094663,175884800
1980-12-16 00:00:00-05:00,0.113281,0.113281,0.112723,0.112723,0.087715,105728000
1980-12-17 00:00:00-05:00,0.115513,0.116071,0.115513,0.115513,0.089886,86441600
1980-12-18 00:00:00-05:00,0.118862,0.119420,0.118862,0.118862,0.092492,73449600
...,...,...,...,...,...,...
2022-01-25 00:00:00-05:00,158.979996,162.759995,157.020004,159.779999,158.858032,115798400
2022-01-26 00:00:00-05:00,163.500000,164.389999,157.820007,159.690002,158.768539,108275300
2022-01-27 00:00:00-05:00,162.449997,163.839996,158.279999,159.220001,158.301254,121954600
2022-01-28 00:00:00-05:00,165.710007,170.350006,162.800003,170.330002,169.347153,179935700
2022-01-31 00:00:00-05:00,170.160004,175.000000,169.509995,174.779999,173.771469,115541600

In [10]:
df['Adj Close']

Date
1980-12-12 00:00:00-05:00      0.099874
1980-12-15 00:00:00-05:00      0.094663
1980-12-16 00:00:00-05:00      0.087715
1980-12-17 00:00:00-05:00      0.089886
1980-12-18 00:00:00-05:00      0.092492
                                ...
2022-01-25 00:00:00-05:00    158.858032
2022-01-26 00:00:00-05:00    158.768539
2022-01-27 00:00:00-05:00    158.301254
2022-01-28 00:00:00-05:00    169.347153
2022-01-31 00:00:00-05:00    173.771469
Name: Adj Close, Length: 10372, dtype: float64

## Using `yfinance`

In [13]:
df1 = yf.download("AAPL",  start='1980-12-11', end='2022-02-01')

[*********************100%***********************]  1 of 1 completed

In [14]:
df1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12 00:00:00-05:00,0.128348,0.128906,0.128348,0.128348,0.099874,469033600
1980-12-15 00:00:00-05:00,0.122210,0.122210,0.121652,0.121652,0.094663,175884800
1980-12-16 00:00:00-05:00,0.113281,0.113281,0.112723,0.112723,0.087715,105728000
1980-12-17 00:00:00-05:00,0.115513,0.116071,0.115513,0.115513,0.089886,86441600
1980-12-18 00:00:00-05:00,0.118862,0.119420,0.118862,0.118862,0.092492,73449600
...,...,...,...,...,...,...
2022-01-25 00:00:00-05:00,158.979996,162.759995,157.020004,159.779999,158.858032,115798400
2022-01-26 00:00:00-05:00,163.500000,164.389999,157.820007,159.690002,158.768539,108275300
2022-01-27 00:00:00-05:00,162.449997,163.839996,158.279999,159.220001,158.301254,121954600
2022-01-28 00:00:00-05:00,165.710007,170.350006,162.800003,170.330002,169.347153,179935700
2022-01-31 00:00:00-05:00,170.160004,175.000000,169.509995,174.779999,173.771469,115541600

In [15]:
df2 = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [16]:
df2

                           Adj Close                  Close              \
                                AAPL         SPY       AAPL         SPY
Date
2017-01-03 00:00:00-05:00  27.174749  202.856522  29.037500  225.240005
2017-01-04 00:00:00-05:00  27.144341  204.063339  29.004999  226.580002
2017-01-05 00:00:00-05:00  27.282379  203.901199  29.152500  226.399994
2017-01-06 00:00:00-05:00  27.586531  204.630798  29.477501  227.210007
2017-01-09 00:00:00-05:00  27.839207  203.955261  29.747499  226.460007
...                              ...         ...        ...         ...
2017-04-24 00:00:00-04:00  33.752083  214.530212  35.910000  237.169998
2017-04-25 00:00:00-04:00  33.961227  215.778488  36.132500  238.550003
2017-04-26 00:00:00-04:00  33.761482  215.642792  35.919998  238.399994
2017-04-27 00:00:00-04:00  33.787331  215.823715  35.947498  238.600006
2017-04-28 00:00:00-04:00  33.754444  215.353363  35.912498  238.080002

                                High                    Low              \
                                AAPL         SPY       AAPL         SPY
Date
2017-01-03 00:00:00-05:00  29.082500  225.830002  28.690001  223.880005
2017-01-04 00:00:00-05:00  29.127501  226.750000  28.937500  225.610001
2017-01-05 00:00:00-05:00  29.215000  226.580002  28.952499  225.479996
2017-01-06 00:00:00-05:00  29.540001  227.750000  29.117500  225.899994
2017-01-09 00:00:00-05:00  29.857500  227.070007  29.485001  226.419998
...                              ...         ...        ...         ...
2017-04-24 00:00:00-04:00  35.987499  237.410004  35.794998  234.559998
2017-04-25 00:00:00-04:00  36.224998  238.949997  35.967499  237.809998
2017-04-26 00:00:00-04:00  36.150002  239.529999  35.845001  238.350006
2017-04-27 00:00:00-04:00  36.040001  238.949997  35.827499  237.979996
2017-04-28 00:00:00-04:00  36.075001  238.929993  35.817501  237.929993

                                Open                 Volume
                                AAPL         SPY       AAPL        SPY
Date
2017-01-03 00:00:00-05:00  28.950001  225.039993  115127600   91366500
2017-01-04 00:00:00-05:00  28.962500  225.619995   84472400   78744400
2017-01-05 00:00:00-05:00  28.980000  226.270004   88774400   78379000
2017-01-06 00:00:00-05:00  29.195000  226.529999  127007600   71559900
2017-01-09 00:00:00-05:00  29.487499  226.910004  134247600   46939700
...                              ...         ...        ...        ...
2017-04-24 00:00:00-04:00  35.875000  237.179993   68537200  119209900
2017-04-25 00:00:00-04:00  35.977501  237.910004   75486000   76698300
2017-04-26 00:00:00-04:00  36.117500  238.509995   80164800   84702500
2017-04-27 00:00:00-04:00  35.980000  238.770004   56985200   57410300
2017-04-28 00:00:00-04:00  36.022499  238.899994   83441600   63532800

[81 rows x 12 columns]